/* Header CSS */
body {
    background-color: #ffffffcb;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body h1 {
    background-color: #ffffffcb;
    padding: 20px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#header_image {
    width: 200px;
    height: auto;
    margin: 0 auto;
    display: block;
    left: 100px;
    float: left;
    filter: drop-shadow(0 0 5px #000);
    border-radius: 10px;
}

.header_menu a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Header Button CSS */
.header_menu button{
    background-color: #ffffffcb;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    place-content: center;
    border-radius: 5px;
}
.header_menu button:hover {
    background-color: #ffc4006e;
    cursor: pointer;
    filter: drop-shadow(2px 2px 2px #ffcb22);
}

.header_menu button:active {
    background-color: #ffcb22;
    filter: drop-shadow(0 0 5px #ffc4006e);
    border-radius: 0px;
}

address a,
address p {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: #000000;
}
