/*About Me Section*/

.mom_image {
    width: 20px;
}

/* Privacy Policy Section */

.privacy_policy_field {
    color: #000000;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    margin-left: 20px;
}