/*About Me Section*/

.about_me {
    color: #000000;
    font-size: 20px;
    font-weight: normal;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: left;
    margin-left: 20px;
}

.about_me h1 {
    font-size: 50px;
    font-weight: bold;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 875px;
}
.about_me p {
    margin-left: 900px;
    font-size: xx-large;
}

.mom_image {
    width: 50%;
    float: left;
}

/* Privacy Policy Section */

.privacy_policy_field {
    color: #000000;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    margin-left: 20px;
}