body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about_me {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.mom_image {
    max-width: 100%;
    width: 400px;
    border-radius: 10px;
    flex-shrink: 0;
}

.about_text {
    max-width: 600px;
}

.about_me h1,
.hire_me h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.about_me p,
.hire_me p,
.hire_me ul {
    font-size: 1.25rem;
    line-height: 1.6;
    font-weight: normal;
}

/* Hire Me Section */
.hire_me {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
}

.hire_me ul {
    padding-left: 20px;
    margin-bottom: 30px;
    list-style-type: none;
}

.calendly-inline-widget {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .about_me {
        flex-direction: column;
        text-align: center;
    }

    .about_text {
        max-width: 100%;
    }

    .hire_me h1,
    .about_me h1 {
        font-size: 2rem;
    }

    .about_me p,
    .hire_me p,
    .hire_me ul {
        font-size: 1rem;
    }
}
